@{
    ViewBag.Title = "Contacts";
}

<h3>Meet the Makers</h3>

<p>
    This registration system has been created by the following as part of their Web Development Project. They are:
    <ul>
        <li> Syeda Areeba Kazmi</li>
        <li> Ubaid Ali Faruqi</li>
    </ul>
</p>
<br><br><br>

<p> For support and marketing, reach out to us at the following:</p>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>